<?xml version="1.0" encoding="utf-8" ?>
<ruleset name="php-gravityzone-api">
    <description>The coding standard of php-gravityzone-api</description>
    <arg value="p" />

    <config name="ignore_warnings_on_exit" value="1" />
    <config name="ignore_errors_on_exit" value="1" />

    <arg name="colors" />
    <arg value="s" />

    <rule ref="PSR12" />
</ruleset>
